{% extends "./../base.html" %}

    {% block pre-content %}
        <div class="text-center">
            <h3 class="mbr-section-subtitle align-center pb-3 mbr-fonts-style display-2">
               &#x1F332 Green store &#x1F332
            </h3>
        </div>
    {% endblock %}

    {% block content %}
        <div class="text-center">
            <h5 class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                <b>OUR MISSION</b><br><br>
            </h5>
            <p style="text-align:left">
                &#9679 The main task of the Green hypermarket chain is to provide Belarusians with the opportunity
                to comfortably buy high-quality goods in modern stores;<br>
                &#9679 Quality control of goods at all stages;<br>
                &#9679 Help customers choose products that promote an active lifestyle and do not negatively affect
                their health.<br><br>
            </p>
            <h5 class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                <b>OUR FEATURES</b><br><br>
            </h5>
            <p style="text-align:left">
                &#9679 Farm products and products with natural composition under its own trademark "Local Known";<br>
                &#9679 A full range of products of our own production in the stores of the chain, including finished
                products and sushi;<br>
                &#9679 Emphasis on "healthy" and quality ingredients;<br>
                &#9679 Products for a healthy diet. For example, bran bread, etc.<br><br>
            </p>
            <h5 class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                <b>GREEN TODAY</b><br><br>
            </h5>
            <p style="text-align:left">
                LLC "GRINroznitsa" - one of the leaders in the retail market of Belarus - on December 1 issued
                tokens on the investment platform of Bank BelVEB FINSTORE.by. This is the first deal in Belarus for the
                issue of tokens for retail chains.<br><br><br><br>
            </p>
            <p style="text-align:right">
            With love, your green store!
            </p>
        </div>
    {% endblock %}