{% extends "./../base.html" %}
{% load static %}

    {% block pre-content %}
        <span class="text-center">
            <div class="bd-callout bd-callout-info">
                <h4>
                    &#x1F332 Green store &#x1F332
                </h4>
            </div>
        </span>
    {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row g-3">
                <img
                  src="https://thumbs.dreamstime.com/b/christmas-food-flat-lay-text-welcome-sign-english-walnut-hazelnut-
                  cinnamon-sticks-orange-peel-brown-wooden-background-102712430.jpg"
                  class="w-100 shadow-1-strong rounded mb-4"
                  alt=""
                />
            </div>
        </div>
    {% endblock %}