{% extends "./../base.html" %}

{% block header %}
    <p style="text-align: center;">
        Your shopping cart:
    </p>
{% endblock header %}

{% block content %}
    <style>
        .coupon-enter-code {

            right: 15%;
            min-width: 30%;
            border-bottom: solid rgb(149, 160, 255);
            border-width: 5px;
            background-color: rgb(226, 226, 226);
        }
        .continue-shopping {
            text-decoration:underline;
            text-align: center;
            min-width: 20px;
            min-height: 20px;
        }
        .continue-shopping:hover {
            border-width: 235px;
            background-color: burlywood;
            color: white;
        }
    </style>

    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                        {% with product=item.product %}
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src={{ product.image.url }} style="width: 150px; height: 110px;"> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="{% url 'specific_product_url_with_slug' product.slug %}">{{ product.title }}</a></h4>
                                        <h5 class="media-heading"> by <a href="#">(Manufacturer)</a></h5>
                                        <span>Status: </span><span class="text-success"><strong> some status</strong></span>
                                    </div>
                                </div></td>
                                <!-- ТУт ввод и отображение кол-ва -->
                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                    <!--<input type="email" class="form-control" id="exampleInputEmail1" value="3">-->
                                    {{ item.quantity }}
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>${{ item.price }}</strong></td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>${{ item.total_price }}</strong></td>
                                <td class="col-sm-1 col-md-1">
                                <a href="{% url 'cart:cart_remove' product.id %}" style="color: white;">
                                    <button type="button" class="btn btn-danger">
                                        Remove
                                    </button>
                                </a>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    <tr>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>{{ cart.get_total_price }}$</strong></h5></td>
                    </tr>
                    <tr>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td><h3>Total:</h3></td>
                        <td class="text-right"><h3><strong>{{ cart.get_total_price|floatformat:"2" }}$
                        </strong></h3></td>
                    </tr>
                    <tr>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td>
                            <div class="continue-shopping">
                                <a href="{% url 'products' %}">
                                    Continue Shopping
                                </a>
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'orders:order_create' %}" class="btn btn-success">
                                Checkout
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}